/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
}

.containt{
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Section Styles */
section {
    padding: 40px 0;
    
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* Portfolio Item Styles */
.portfolio-item {
    margin-bottom: 30px;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.container {
    background-color: aqua;
}
/* Responsive Styles */
@media (max-width: 768px) {
    nav ul li {
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 24px;
    }
}

